@import './../../../../css/service';
@import './../style';

.badge_info {
    @extend %clear-self;

    display: block;
    padding-bottom: 60px;
}

.badge_image {
    float: left;
    width: 100px;
    //margin-right: 32px;
}

.text_block {
    margin-left: $search-form-margin-left;
}

.badge_header {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 11px;
}

.badge_p {
    display: block;
    font-size: 16px;
    line-height: 24px;
}
