@import './../../../../css/service';
@import './../style';

.badge_info {
    @extend %clear-self;

    display: block;
    padding-bottom: 60px;
}

.badge_image__wrapper {
    float: left;
    height: 100px;
}

.badge_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 100px;
    margin-bottom: 7px;
    width: 100px;
}

.badge_left {
    display: block;
    font-size: 16px;
    text-align: center;
    //text-transform: uppercase;
}

.badge_header {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 11px;
}

.text_block {
    margin-left: $search-form-margin-left;

    &.text_block_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100px;

        .badge_header {
            padding-bottom: 0;
        }
    }
}

.badge_p_mobile_wrapper {
    clear: both;
    padding-top: 14px;
}

.badge_p {
    display: block;
    font-size: 16px;
    line-height: 24px;
}
