header.header
    #headroom
        .container
            .header-box

                .header-item.header-left
                    form.headerSearch#search(action="#")
                        .headerSearch-label.js-search-ctrl
                            +svg('search').icon.icon-search
                        .headerSearch-body#searchBody
                            .headerSearch-input
                                input(type="search" name="s" placeholder="Search…")
                            a.headerSearch-close.js-search-ctrl(href="javascript:;")
                                +svg('cross').icon

                .header-item.header-center
                    a.logo.js-outsideclick#logo(href="#categories" data-toggle)
                        span.logo-name Give<br/>a badge

                .header-item.header-right
                    .loggedUser
                        .loggedUser-image
                            img(src=path+'loggedUserImage.jpg', alt="Michael")
                        .loggedUser-name Hello, Michael!
                        .loggedUser-logout
                            a(href="javascript:;")
                                +svg('logout').icon
// .HEADER