.badge_list {
    display: block;
    padding: 10px 0 20px;
}

.badge_list__mobile {
    height: 100%;
    padding: 0;
}

.badge_tem {
    display: block;
    height: 128px;
    opacity: 0.5;
    width: 100%;

    &.badge_item__selected {
        opacity: 1;
    }
}

.badge_item__mobile {
    height: 100%;
    width: 128px;
}

.badge_item_image {
    border-radius: 50%;
    display: block;
    height: 78px;
    margin: 0 auto;
    pointer-events: none;
    width: 78px;
}
