{
    "presets": [
        "env",
        "stage-2",
        "react",
        "flow"
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "flow-runtime"
                ],
                "transform-decorators-legacy"
            ]
        }
    }
}
