{
    "presets": [
        "env",
        "stage-2",
        "react",
        "flow"
    ],
    "plugins": [
        "transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-runtime",
                "flow-runtime",
                "transform-decorators-legacy"
            ]
        }
    }
}
