.wrapper {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.swiper_container {
    height: 100%;
    position: relative;
    width: 100%;
}

.swiper_wrapper {
    display: block;
    height: 100%;
    width: 100%;
}

.swiper_slide {
    display: block;
    width: 100%;

    &.swiper_slide__horizontal {
        height: 100%;
    }
}
