//
@import './../../../../../css/service';

.founded_user_image {
    border-radius: 100%;
    display: block;
    float: left;
    width: 50px;
}

.founded_user_wrapper {
    @extend %clear-self;

    color: #202020;
    display: block;
    padding: 14px 18px 13px;
    text-decoration: none;

    &:focus {
        background-color: #d5d8dc;
    }

    &:hover {
        background-color: #f6f9fd;
    }

    &.already_selected {
        background-color: #fff;
        color: #666;

        .founded_user_image {
            opacity: 0.5;
        }
    }
}

.founded_user_name_wrapper {
    display: block;
    margin-left: 52px;
    overflow: hidden;
    padding: 16px 10px 10px;
}

.founded_user_name {
    @extend %ellipsis;
}
