.histogram_list_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 38px; // see <Scroll slideWidth={itemList.length * 76 + 38 * 2} direction="horizontal">
}

.histogram_item_wrapper {
    display: block;
    height: 100%;
    width: 76px; // see <Scroll slideWidth={itemList.length * 76 + 38 * 2} direction="horizontal">

    // active and hover for test only
    &:active,
    &:hover,
    &.histogram_item_wrapper__active {
        background-image: url('./i/active-face.png');
        background-position: 2px 364px;
        background-repeat: no-repeat;
        background-size: 72px auto;
    }
}

.histogram_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.histogram_column {
    background-color: #ccc;
    box-sizing: border-box;
    margin-bottom: 6px;
    min-height: 20px;
    width: 38px;

    &:hover {
        background-color: #fc0;
    }
}

.histogram_face_wrapper {
    box-sizing: border-box;
    display: block;
    height: 106px;
    padding-top: 15px;
    position: relative;
    width: 100%;
    z-index: 0;
}

.histogram_face_image {
    border-radius: 50%;
    display: block;
    height: 54px;
    margin: 0 auto;
    width: 54px;
}
