.histogram_list_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 38px; // see <Scroll slideWidth={itemList.length * 76 + 38 * 2} direction="horizontal">
}

.histogram_item_wrapper {
    background-position: 2px 364px;
    background-repeat: no-repeat;
    background-size: 72px auto;
    display: block;
    height: 100%;
    width: 76px; // see <Scroll slideWidth={itemList.length * 76 + 38 * 2} direction="horizontal">
    //&.histogram_item_wrapper__active {
    //}

    &.histogram_item_wrapper__show_face_select_mask {
        background-image: url('./i/active-face.png');
    }
}

.histogram_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.histogram_column {
    background-color: #ccc;
    box-sizing: border-box;
    margin-bottom: 6px;
    min-height: 2px;
    width: 38px;

    &:hover {
        background-color: #fc0;
    }
}

.histogram_item_wrapper__active {
    .histogram_column {
        background-color: #fc0;
    }
}

.histogram_column_part {
    align-items: center;
    border-bottom: 1px solid #f8f8f8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child {
        border-bottom: 1px solid transparent;
    }
}

.histogram_column_part_image {
    border-radius: 50%;
    display: block;
    max-height: 80%;
    max-width: 80%;
}

.histogram_face_wrapper {
    box-sizing: border-box;
    display: block;
    height: 106px;
    padding-top: 15px;
    position: relative;
    width: 100%;
    z-index: 0;
}

.histogram_face_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: block;
    height: 54px;
    margin: 0 auto;
    width: 54px;
}
