@import '../../../../css/var';
@import '../../../../css/service';

.badge_item_list {
    clear: both;
    width: 100%;
}

.badge_category_list {
    clear: both;
    padding-bottom: 9px;
    width: 100%;
}

.badge_name {
    @extend %ellipsis;

    color: $main-text-color;
    display: block;
    font-size: 16px;
    text-align: center;
}

.badge_item {
    float: left;
    margin: 0 27px 27px 0;
    position: relative;
    text-decoration: none;

    &:hover {
        .badge_name {
            text-decoration: underline;
        }
    }
}

.badge_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin-bottom: 7px;
    width: 100px;
}

.badge_left {
    background-color: #c00;
    border-radius: 100px;
    bottom: 20px;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    right: 20px;
}
