@import '../../../../css/var';
@import '../../../../css/service';
@import '../../../../css/helper';

.badge_item_list {
    clear: both;
    width: 100%;
}

.badge_category_list {
    clear: both;
    padding-bottom: 9px;
    width: 100%;
}

.badge_name {
    @include line-cap(2);

    color: $main-text-color;
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 18px;
    text-align: center;
}

.badge_item {
    float: left;
    margin: 0 27px 27px 0;
    position: relative;
    text-decoration: none;
    width: 100px;

    &:hover {
        .badge_name {
            text-decoration: underline;
        }
    }
}

.badge_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin-bottom: 7px;
    width: 100%;
}

.badge_left {
    background-color: #f33;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 75px;
    width: 26px;
}
