@import '../../../../../css/var';

// just add more authority to override mui's styles
.snack_bar {
    align-items: center;
    background-color: #313131;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: $main-font-family;
    letter-spacing: 0.2px;
    min-height: 56px;
    padding: 6px 56px 6px 24px;
    position: relative;
    width: 100%;

    .message {
        font-size: 16px;
    }

    .icon {
        margin-right: 15px;
    }

    &.info {
        background-color: #1976d2;
    }

    &.success {
        background-color: #43a047;
    }

    &.warning {
        background-color: #ffa000;
    }

    &.error {
        background-color: #d32f2f;
    }
}
