// the css
@import './../../../../css/var';

.user_info__desktop,
%user-info--desktop {
    float: right;
    padding-right: 2px;
    padding-top: 9px;
}

.logout_button {
    background-image: url('./i/logout.svg');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 50px;
    transition: opacity 0.3s ease-out;
    width: 50px;

    &:hover {
        opacity: 0.75;
    }
}

.user_name {
    box-sizing: border-box;
    color: $secondary-text-color;
    float: right;
    font-family: $main-font-family, sans-serif;
    font-size: 14px;
    max-width: 400px;
    min-width: 122px;
    padding: 17px 16px 0 15px;
}

.user_avatar {
    border-radius: 6px;
    float: right;
    height: 34px;
    margin-top: 10px;
    width: 34px;
}

.user_info__mobile {
    @extend %user-info--desktop;

    padding-right: 0;

    .logout_button {
        width: 35px;
    }

    .user_avatar {
        margin-right: 4px;
    }
}
