/* ──────────────────────────────────────────────────────────────────
 * ── FONTS
 * ─────────────────────────────────────────────────────────────── */

webfont('PT Sans', 'PT Sans', 'PTSans-Regular', 'hinted-PTSans-Regular', normal, normal)
webfont('PT Sans', 'PT Sans Bold', 'PTSans-Bold', 'hinted-PTSans-Bold', bold, normal)
webfont('PT Sans', 'PT Sans Bold Italic', 'PTSans-BoldItalic', 'hinted-PTSans-BoldItalic', bold, italic)
webfont('PT Sans', 'PT Sans Italic', 'PTSans-Italic', 'hinted-PTSans-Italic', normal, italic)
webfont('Gilroy', 'Gilroy Bold', 'Gilroy-Bold', 'hinted-Gilroy-Bold', bold, normal)