webfont(_fontName, _localName1, _localName2, _fileName, _fontWeight = normal, _fontStyle = normal) {
    @font-face {
        font-family: _fontName;
        src: local(_localName1), local(_localName2),
            url('../fonts/'+_fileName+'.woff2') format('woff2'),
            url('../fonts/'+_fileName+'.woff') format('woff');
        font-weight: _fontWeight;
        font-style: _fontStyle;
    }
}

textOverflow(_lines) {
    display -webkit-box
    -webkit-line-clamp _lines
    -webkit-box-orient vertical
    text-overflow: ellipsis
    overflow hidden
}

rem(value) {
    unit(value / base-font-size, 'rem')
}


transit(duration = 0.25s) {
    transition all duration ease-out
}

pseudo() {
    content ''
    display block
    position absolute
}

bg(position,size) {
    background-repeat no-repeat
    background-position position
    background-size size
}