//- Colors
color-main = #202020;
color-light = #cacaca;
color-blue = #5291ff;

color-error = #b71c1c;

//- Base
font-size = 16px;
font-base = 'PT Sans', 'Arial', 'Helvetica', sans-serif;
font-gilroy = 'Gilroy', 'Arial', 'Helvetica', sans-serif;

path = '../assets/img/';
container = 1230px;

//- Breakpoints
xs = '(max-width: 543px)';
sm = '(max-width: 767px)';
md = '(max-width: 991px)';
lg = '(max-width: 1199px)';
xl = '(max-width: 1399px)';