/* ──────────────────────────────────────────────────────────────────
 * ── ELEMENTS.SCSS
 * ─────────────────────────────────────────────────────────────── */

.container {
    max-width: container;
    padding: 0 15px;
    margin: 0 auto;
    @media sm {
        padding: 0 20px;
    }
}

/*
 * ─── BACKGROUD COLORS ───────────────────────────────────────────────────────────
*/

.orange {
    background-color: #fbcb60;
}

.orange-dark {
    background-color: #f5a623;
}

.red {
    background-color: #ff5066;
}

.blue {
    background-color: #5291ff;
}

.blue-light {
    background-color: #86a9e9;
}

.blue-dark {
    background-color: #7152ff;
}

.purple {
    background-color: #8a52ff;
}

.purple-light {
    background-color: #8a86e9;
}

.green {
    background-color: #b8e986;
}

.green-dark {
    background-color: #39c26a;
}

.black {
    background-color: #020203;
}

.pink {
    background-color: #f052ff;
}


/*
 * ─── ICONS ───────────────────────────────────────────────────────────
*/

.icon-modal-close {
    width: 13px;
    height: 14px;
}

.icon-chevron-vertical {
    width: 12px;
    height: 7px;
}

.icon-status-check {
    fill: #fff;
    width: 16px;
    height: 12px;
}

.icon-status-clock {
    fill: #fff;
    width: 15px;
    height: 15px;
}

.icon-status-close {
    width: 13px;
    height: 14px;
}

.icon-search {
    width: 14px;
    height: 14px;
}