/* ──────────────────────────────────────────────────────────────────
 * ── HEADER
 * ─────────────────────────────────────────────────────────────── */

.headroom {
    width: 100%;
    background-color: #fff;
    z-index: 5;

    &--not-top {
        position fixed;
        top: 0;
        left: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}

.header {
    position relative
    background-color: #fff;
    box-shadow: 0 -19px 40px 0 rgba(0, 0, 0, 0.1);
    z-index: 6;
    height: 72px;

    &-box {
        display: flex
        justify-content space-between
        align-items center
        height: 72px;
        position relative
    }

    &-center {
        position relative
        z-index: 1;
    }
}

.logo {
    display flex;
    align-items center;
    justify-content center;
    width: 215px;
    height: 72px;
    text-align center
    position relative
    z-index: 1;
    text-decoration none
    margin: 0 auto;
    transition: all 0.3s linear;
    @media sm {
        width: 150px;
    }

    &:before {
        pseudo();
        width: 138px;
        height: 138px;
        border-radius: 50%;
        top: -48px;
        left: 50%;
        margin-left: -69px;
        background-color: color-blue;
        z-index: 1;
        transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.46);
    }

    &.is-active {
        position relative;
        border-radius: 0;
        height: 72px;
        top: 0;

        &:before {
            width: 215px;
            border-radius: 0;
            top: 0;
            height: 100%;
            left: 0;
            margin-left: 0;
            transition: all 0.5s ease;
            @media sm {
                width: 150px;
            }
        }

        &:hover:before {
            transform: none;
        }
    }

    &.is-moveup {
        transform: translateY(-130%);
    }

    &-name {
        display block
        position relative
        z-index: 5;
        width: 100%;
        font-family: font-gilroy
        font-size: 18px;
        text-transform uppercase
        color: #fff
    }

    &:hover:before {
        transform: scale(1.2);
        background-color: #2f6bdc;
    }
}


.headerSearch {
    display flex
    align-items center
    @media sm {
        justify-content space-between;
    }

    &-label {
        .icon {
            fill: #d8d8d8;
            @media sm {
                fill: color-blue;
                width: 25px;
                height: 25px;
            }
        }
    }

    &-body {
        padding-left: 10px;
        position relative;
        overflow: hidden;
        @media sm {
            display none
            padding-left: 0;
            position absolute
            top: 0;
            left: 35px;
            right: 0;
            height: 100%;
            background-color: #fff;
            z-index: 1;
            align-items center;
            transit();
        }

        &:before {
            pseudo();
            display none
            top: 0;
            left: 0;
            background-color: #fff;
            height: 100%;
            width: 100%;
            z-index: 12;
            transition: all 0.25s linear;
            @media sm {
                display block
            }
        }

        &.is-active {
            display flex;
            background-color: #fff;
            z-index: 10;

            &:before {
                animation: moveRight 0.3s linear 1 forwards;
            }
        }
    }


    &-input {
        @media sm {
            flex-grow: 1;
        }

        input {
            font-size: 14px;
            height: 40px;
            @media sm {
                width: 100%;
                font-size: 20px;
                padding: 5px 20px 5px 0;
                border-bottom 3px solid color-blue
            }

            &::placeholder {
                color: color-light
            }
        }
    }

    &-close {
        display none
        @media sm {
            display block
            position absolute
            top: 50%;
            right: 0;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            z-index: 11;
        }

        .icon {
            display block
            margin-left: auto;
            width: 13px;
            height: 14px;
            fill: #c7c7c7;
        }
    }
}

@keyframes moveRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}


.loggedUser {
    display flex;
    align-items center
    justify-content flex-end
    margin-left: auto;

    &-image {
        width: 34px
        height: 34px
        border-radius: 4px
        position relative
        overflow hidden
        margin-right: 15px;

        img {
            width: 105%
            height: auto
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%)
        }
    }

    &-name {
        font-size: 14px;
        color: color-light;
        padding: 0 35px 0 0;
        @media md {
            display none
        }
    }

    &-logout {

        .icon {
            fill: color-light
            width: 16px;
            height: 17px;
            transit();

            &:hover {
                fill: darken(color-light, 10%)
            }
        }
    }
}


@media screen and (min-width: 1000px) {
    .header-left, .header-right {
        width: 200px
    }
}