@import '../../../css/var';
@import '../../../css/service';

$winner-background-color: #fbcb60;
$badge-image-width: 45px;

.half_popup__container_position__extra {
    padding-left: 733px;
}

.half_popup__container__extra {
    padding: 0;
}

.header {
    align-items: center;
    background-color: $winner-background-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px 20px 20px;
}

.header__badge_image {
    display: block;
    height: $badge-image-width;
    margin-right: 17px;
    margin-top: 4px;
    width: $badge-image-width;
}

.header__badge_text_block {
    display: block;
    max-width: 50%;
    //padding-right: $badge-image-width - 40px;
}

.header_badge_name {
    @extend %ellipsis;

    color: #fff;
    display: block;
    font-family: gilroy-bold, $main-font-family, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.author_info {
    display: block;
    padding: 0 22px 20px;
}

.author_image {
    border-radius: 100%;
    float: left;
    height: 52px;
    margin-right: 18px;
    width: 52px;
}

.author_info_text {
    float: left;
    padding-top: 6px;
}

.author_name {
    color: $main-text-color;
    display: block;
    padding-bottom: 9px;
}

.badge_date {
    color: $secondary-text-color;
    display: block;
}

.badge_description {
    color: $main-text-color;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 36px 22px 34px;
}

.people_list {
    background-color: $winner-background-color;
    display: block;
    overflow: hidden;
    padding: 10px 5px 10px 16px;

    &.people_list__open {
        display: block;
    }
}

.won_badge_face {
    float: left;
    height: 48px;
    margin: 6px;
    width: 48px;
}

.won_badge_face_image {
    border-radius: 100%;
    display: block;
    height: 100%;
    width: 100%;
}

.show_more_less_button__arrow {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    left: 9px;
    line-height: 30px;
    position: relative;
    top: 5px;
    transform: rotateZ(-90deg);
}

.show_more_less_button {
    background-image: linear-gradient(to top, rgba(251, 203, 96, 1) 30%, rgba(251, 203, 96, 0));
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: gilroy-bold, $main-font-family, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 75px;
    margin-top: -75px;
    padding-top: 21px;
    position: relative;
    width: 100%;
    z-index: 1;

    &.show_more_less_button__open {
        background-image: linear-gradient(to top, rgba(251, 203, 96, 1) 10%, rgba(251, 203, 96, 1));
        display: block;
        height: 50px;
        margin-top: 0;
        padding-top: 0;

        .show_more_less_button__arrow {
            transform: rotateZ(90deg);
        }
    }
}
