@import '../../../css/var';
@import '../../../css/service';

$winner-background-color: #fbcb60;
$badge-image-width: 45px;

.half_popup__container_position__extra {
    padding-left: 733px;
}

.half_popup__container__extra {
    padding: 0;
}

.header {
    background-color: $winner-background-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.header__badge_image {
    display: block;
    width: $badge-image-width;
    margin-top: 4px;
    margin-right: 17px;
}

.header__badge_text_block {
    display: block;
    max-width: 50%;
    //padding-right: $badge-image-width - 40px;
}

.header_badge_name {
    @extend %ellipsis;

    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    font-family: gilroy-bold, $main-font-family, sans-serif;
}

.author_info {
    display: block;
}

.author_image {
    display: block;
}

.author_name {
    display: block;
}

.badge_date {
    display: block;
}

.badge_description {
    display: block;
}

.people_list {
    display: block;

    &.people_list__open {
        display: block;
    }
}

.won_badge_face {
    display: block;
}

.won_badge_face_image {
    display: block;
}

.show_more_less_button {
    display: block;

    &.show_more_less_button__open {
        display: block;
    }
}
