@import '_common/_vars.styl';
@import '_common/_mixins.styl';
@import '_common/_fonts.styl';

@import '_common/_common.styl';
@import '_common/header.styl';
// @import '_common/footer.styl';
@import '_common/elements.styl';
// @import '_common/icons';

@import 'pages/index.styl';
@import 'blocks/modals.styl';