.spinner_wrapper {
    height: 75px;
    overflow: hidden;
    position: relative;
}

.spinner_wrapper__full_size {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.spinner {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 50px;
}
