@import './../../../css/var';
@import './../header/style';

.card_list {
    margin: 0 auto;
    max-width: 1184px; // 4 badge in row max
    padding: 38px + $header-height 0 0;
}

.card_list_container__header {
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 22px;
}

.card_list_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 50px;
}
