@import './../../../css/var';
@import './../header/style';

.card_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1184px; // 4 badge in row max
    padding: 28px + $header-height 0 50px;
}

