@import './../../../../../css/var';

.half_popup__sub_header {
    color: $main-text-color;
    font-family: 'gilroy-bold', $main-font-family, sans-serif;
    font-size: 20px;
    padding-bottom: 31px;
}
