@import './../../../../css/service';
@import './../style';
@import './../../ui/form';

.badge_form_wrapper {
    display: block;
    margin-left: $search-form-margin-left;
}

.badge_form {
    display: block;
}

.search_input {
    @extend %input-text;
}

.badge_description {
    @extend %text-area;
}

.submit_button {
    @extend %button;

    float: right;
    margin-top: 18px;
}

.selected_user_list {
    display: block;
    min-height: 136px;
}
