@import './../../../../css/service';
@import './../style';
@import './../../ui/form';

.badge_form_wrapper {
    display: block;
    margin-left: $search-form-margin-left;

    &.badge_form_wrapper__mobile {
        margin-left: 0;
    }
}

.badge_form {
    display: block;
    position: relative;
}

.search_input {
    @extend %input-text;
}

.badge_description {
    @extend %text-area;
}

.submit_button {
    @extend %button;

    float: right;
    margin-top: 18px;
}

.selected_user_list {
    @extend %clear-self;

    box-sizing: border-box;
    display: block;
    //min-height: 136px;
    overflow: auto;
    padding-bottom: 15px;
    padding-top: 29px;
}

.selected_user_list__empty {
    height: 26px;
}

%founded-user-list,
.founded_user_list {
    background-color: #fff;
    border: 1px solid #f6f9fd;
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: block;
    margin-top: 17px;
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.no_found_people {
    @extend %founded-user-list;

    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.selected_user_wrapper {
    cursor: pointer;
    float: left;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 50px;
}

.selected_user_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
