//
.half_popup__wrapper,
%half-popup--wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.half_popup__fade {
    @extend %half-popup--wrapper;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.half_popup__set_container_position {
    @extend %half-popup--wrapper;

    box-sizing: border-box;
    padding-left: 275px;
    padding-top: 98px;
    z-index: 2;
}

.half_popup__container {
    background-color: #fff;
    border-radius: 4px 0 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 27px 10px 10px 30px;
    //position: absolute;
    //width: 100%;
    //z-index: 0;
}
