$section-bg-color: #f8f8f8;

.statistic_wrapper {
    background-color: $section-bg-color;
    display: flex;
    flex-direction: row;
    height: 464px;
    position: relative;
}

.statistic_wrapper__mobile {
    flex-direction: column;
    height: 558px;
}

.statistic_wrapper_background {
    background-color: #fff;
    bottom: 18px;
    height: 88px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;

    &:before {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        content: '';
        height: 84px;
        position: absolute;
        top: 1px;
        width: 100%;
    }
}

.badge_list__wrapper {
    display: flex;
    flex-grow: 0;
    height: 358px;
    width: 94px;
}

.badge_list__wrapper__mobile {
    height: 94px;
    width: 100%;
}

.histogram_list__wrapper {
    display: flex;
    flex-grow: 1;
    min-height: 100px;
    position: relative;
    z-index: 1;
}

.comment_list__wrapper {
    background-color: $section-bg-color;
    display: flex;
    min-height: 205px;
}
