
// got from material design
$main-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

//$main-font-family: 'Lucida Console', Monaco, monospace;
$main-font-size: 14px;
$main-line-height: 20px;
$main-text-color: #333;
$main-bg-color: #f7f8fc;
$max-app-width: 1200px;

//$main-shadow-color: #212121;
